window {
  background: alpha(#14161E, 0.92);
  border-radius: 16px;
  border: 2px solid #C71275;
}
image, label {
  color: #F0F4FC;
}
progressbar:disabled, image:disabled {
  opacity: 0.5;
}
progressbar {
  background: alpha(#F0F4FC, 0.15);
  border-radius: 8px;
}
trough {
  border-radius: 8px;
}
progress {
  background: #C71275;
  border-radius: 8px;
}
