@define-color background-color #14161E;
@define-color border-color #690001;
@define-color label #F0F4FC;
@define-color image #690001;
@define-color progress #690001;

window {
  border-radius: 14px;
  border: 2px solid @border-color;
  background-color: alpha(@background-color, 0.92);
  box-shadow: 0 8px 30px rgba(0,0,0,0.45);
  padding: 10px;
}
label  { color: @label; }
image  { color: @image; }
progressbar { border-radius: 12px; }
progress { background-color: @progress; border-radius: 12px; }
