/**
 * @name Dandadan
 * @description Dynamic Dandadan theme — Wallpaper 01: Okarun & Turbo Granny Golden Spark
 * @version 2.0.0
 * @author misternegative21
*/
@import url("https://refact0r.github.io/system24/build/system24.css");

body {
    --font: "JetBrainsMono Nerd Font";
    --code-font: "JetBrainsMono Nerd Font";
    --text-0: #F0F4FC;
    --text-1: #F0F4FC;
    --text-5: #616367;
    --bg-1: #10121B;
    --bg-2: #1A1D2A;
    --bg-3: #14161E;
    --accent-1: #E80202;
    --accent-2: #960101;
    --border: #E8020255;
    --status-positive-text: #50FA7B;
    --status-warning-text: #F1FA8C;
    --status-danger-text: #E3847B;
}
