// DANDADAN Zellij Theme — Wallpaper 02: Turbo Granny Crimson Curse
themes {
    dandadan {
        fg "#F0F4FC"
        bg "#14161E"
        black "#14161E"
        red "#690001"
        green "#C05F58"
        yellow "#693300"
        blue "#016900"
        magenta "#690001"
        cyan "#000169"
        white "#F0F4FC"
        orange "#690035"
    }
}
