// DANDADAN Zellij Theme — Wallpaper 48: Final Form Crimson & Cyber Teal
themes {
    dandadan {
        fg "#F0F4FC"
        bg "#14161E"
        black "#14161E"
        red "#E62828"
        green "#28C4E6"
        yellow "#E68628"
        blue "#28E628"
        magenta "#E62828"
        cyan "#2828E6"
        white "#F0F4FC"
        orange "#E62886"
    }
}
